// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

header.site-header {
    background-color: $listaC-darkOrange;
    border-bottom: 0px;
}
header.site-header div.wrapper a {
    font-weight: bold;
    color: white;
}

main.page-content {
    background-color: $listaC-lightOrange;
}

footer.site-footer {
    background-color: $listaC-darkOrange;
    border-top: 0px;
}
footer.site-footer div {
    color: white;
}